// -------------------------------- //

// -- Variable -- //

// -------------------------------- //

// Color

$kitahama_red: #c6000b;
$kitahama_gold: #c09b0f;
$wht: #fff;
$blk: #000;
$gly: #f0efef;
$site_bg_color: #f8f8f8;

// Font Lang

$text_jp: source-han-serif-japanese, serif;
$text_en: minion-3-display, serif;

// Font Size

$fs_8: 0.8rem;
$fs_10: 1rem;
$fs_12: 1.2rem;
$fs_14: 1.4rem;
$fs_16: 1.6rem;

// Font Weight

$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semibold: 600;
$fw_bold: 700;

// Font Line height

$lh_large: 2;
$lh_medium: 1.8;
$lh_regular: 1.6;
$lh_small: 1.4;

// Specing

$spe_2: 2rem;
$spe_4: 4rem;
$spe_6: 6rem;
$spe_8: 8rem;
$spe_10: 10rem;
$spe_12: 12rem;
$spe_14: 14rem;
$spe_16: 16rem;
$spe_18: 18rem;
$spe_20: 20rem;
$spe_22: 22rem;
$spe_24: 24rem;
